
.header {
   background-color: #003580;
   color: white;
   display: flex;
   justify-content: center;
   position: relative;
}

.headerContainer {
   width: 100%;
   max-width: 1024px;
   margin: 20px 0 100px 0;
}

.headerContainer.listMode {
   margin: 20px 0 0 0;
}

.headerList {
   display: flex;
   gap: 40px;
   margin-bottom: 50px;
}

.headerListItem {
   display: flex;
   align-items: center;
   gap: 8px;
}

.headerListItem.active {
   border: 1px solid white;
   padding: 10px;
   border-radius: 20px;
}

.headerDesc {
   margin: 20px 0;
}

.headerBtn {
   background-color: #0071c2;
   color: white;
   font-weight: 600;
   border: none;
   padding: 10px;
   cursor: pointer;
   border-radius: 5px;
}

.headerSearch {
   height: 30px;
   background-color: white;
   border: 3px solid #febb02;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 10px 0;
   border-radius: 5px;
   position: absolute;
   bottom: -25px;
   width: 100%;
   max-width: 1024px;
}

.headerIcon {
   color: rgb(170, 170, 170);
}

.headerSearchItem {
   display: flex;
   align-items: center;
   gap: 10px;
}

.headerSearchInput {
   border: none;
   outline: none;
}

.headerSearchText {
   color: rgb(170, 170, 170);
   cursor: pointer;
}

.date {
   position: absolute;
   top: 50px;
}

.options {
   background-color: white;
   position: absolute;
   top: 50px;
   color: rgb(170, 170, 170);
}

.optionItem {
   display: flex;
   width: 200px;
   margin: 10px;
   justify-content: space-between;
}

.optionCounter {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 12px;
   color: black;
}

.optionCounterButton {
   width: 30px;
   height: 30px;
   border: 1px solid #0071c2;
   color: #0071c2;
   cursor: pointer;
   background-color: white;
}

.optionCounterButton:disabled {
   cursor: not-allowed;
}

